# Site wide configuration

title:            NOOBS
locale:           en_US
url:              http://localhost:4000


# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false


# Site owner
owner:
  name: Your Name
  avatar: efernandes.jpg
  bio: "Hummm... I'm just a simple 'Kiddo' who loves to code, play basketball(even I'm short) and enjoy my fam/friends.
FYI, I'm normal too... Cheers!"
  email: 3uclides.fernandes@gmail.com
  disqus-shortname:
  twitter: 3fernandesJr
  facebook: #username
  google:
    plus: #username
    analytics:
    verify:
    ad-client:
    ad-slot:
  bing-verify:
  github: ecdfernandes
  stackoverflow: #http://stackoverflow.com/users/123456/username
  linkedin: euclidesfernandes
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
